<template>
  <div>
    <template v-for="(item, index) in item_drawer">
      <v-list :key="index">
        <v-list-item v-if="!item.subLinks" :to="item.path">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>

        <v-list-group v-else :value="true">
          <template v-slot:activator>
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </template>

          <v-list-item
            link
            v-for="sublink in item.subLinks"
            :to="sublink.path"
            :key="sublink.text"
          >
            <v-list-item>
              <v-list-item-title> {{ sublink.text }}</v-list-item-title>
              <v-list-item-icon>
                <v-icon>{{ sublink.icon }}</v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-item>
        </v-list-group>
      </v-list>
    </template>
  </div>
</template>

<script>
import item_drawer from "../../resources/item_drawer.json";
const { item } = item_drawer;
export default {
  data: () => ({
    item_drawer: item,
  }),
};
</script>
