<template>
  <the-body :title="title" :color="color" :icon="icon">
    <template v-slot:body>
      <v-row>
        <v-col>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-col>
        <v-col>
          <v-select
            :items="categories"
            label="category"
            v-model="filter_cate"
            item-text="type_cate_name"
            item-value="type_cate_id"
            @change="listCourse"
          ></v-select>
        </v-col>
      </v-row>
      <v-data-table
        :headers="headers"
        :items="coures"
        :items-per-page="5"
        :search="search"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-spacer />
          <v-btn icon @click="deleteCourse(item)">
            <v-icon class="mr-2" color="red lighten-1"> delete_outline </v-icon>
          </v-btn>
          <v-btn icon @click="detailCourse(item)">
            <v-icon class="mr-2" color="info lighten-1"> view_in_ar </v-icon>
          </v-btn>
        </template>
      </v-data-table>

      <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="800px">
          <v-card>
            <v-card-title>
              <span class="text-h5">Course</span>
            </v-card-title>
            <v-card-text>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="ชื่อหลักสูตร"
                    v-model="obj.course_name"
                    required
                    outlined
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="obj.categories"
                    :items="categories"
                    item-text="type_cate_name"
                    item-value="type_cate_id"
                    label="เลือก ประเภท"
                    multiple
                    chips
                    outlined
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    outlined
                    v-model="obj.course_desc"
                    label="รายละเอียดหลักสูตร"
                  >
                  </v-textarea>
                </v-col>
              </v-row>
              <div v-for="(chapter, index) in chapters" :key="index">
                <br />
                <v-card outlined :key="index">
                  <v-card-text>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field
                          label="ชื่อบทเรียน"
                          required
                          dense
                          outlined
                          v-model="chapter.chapter_name"
                        >
                        </v-text-field>
                      </v-col>

                      <v-col cols="12">
                        <v-textarea
                          outlined
                          dense
                          label="รายละเอียดบทเรียน"
                          v-model="chapter.chapter_desc"
                        >
                        </v-textarea>
                      </v-col>
                    </v-row>

                    <div
                      class="pt-2"
                      v-for="(lab, indexLab) in chapter.labs"
                      :key="indexLab"
                    >
                      <v-card outlined :key="indexLab">
                        <v-card-text>
                          <v-row>
                            <v-col cols="12">
                              <v-text-field
                                label="ชื่อ Lab"
                                required
                                dense
                                outlined
                                v-model="lab.lab_name"
                              >
                              </v-text-field>
                            </v-col>
                          </v-row>

                          <div
                            class="pt-2"
                            v-for="(question, indexQuestion) in lab.questions"
                            :key="indexQuestion"
                          >
                            <v-card outlined :key="indexQuestion">
                              <v-card-text>
                                <v-row>
                                  <v-col cols="12" md="6" sm="6">
                                    <v-select
                                      :items="items"
                                      item-text="type_question_name"
                                      item-value="type_question_id"
                                      label="ประเภท คำถาม"
                                      dense
                                      outlined
                                      v-model="question.question_type"
                                    ></v-select>
                                  </v-col>
                                  <v-col cols="12" md="6" sm="6">
                                    <v-text-field
                                      label="คำถาม"
                                      required
                                      dense
                                      outlined
                                      v-model="question.question"
                                    >
                                    </v-text-field>
                                  </v-col>
                                </v-row>

                                <div
                                  class="pt-2"
                                  v-for="(
                                    question_choice, indexChoice
                                  ) in question.question_choices"
                                  :key="indexChoice"
                                >
                                  <v-row>
                                    <v-col cols="12" md="8" sm="8">
                                      <v-text-field
                                        label="สร้าง choice"
                                        required
                                        dense
                                        v-model="question_choice.choice"
                                      >
                                      </v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="2" sm="2">
                                      <v-btn
                                        color="red"
                                        outlined
                                        @click="
                                          removeChoice(
                                            index,
                                            indexLab,
                                            indexQuestion,
                                            indexChoice
                                          )
                                        "
                                      >
                                        <v-icon color="red">
                                          remove_circle_outline
                                        </v-icon>
                                        ลบ Choice
                                      </v-btn>
                                    </v-col>
                                  </v-row>
                                </div>
                              </v-card-text>
                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                  color="green"
                                  outlined
                                  v-if="question.question_type === 'QTM-0001'"
                                  @click="
                                    addChoice(index, indexLab, indexQuestion)
                                  "
                                >
                                  <v-icon color="green">add_circle</v-icon>
                                  เพิ่ม Choice
                                </v-btn>
                                <v-btn
                                  color="red"
                                  outlined
                                  @click="
                                    removeQuestion(
                                      index,
                                      indexLab,
                                      indexQuestion
                                    )
                                  "
                                >
                                  <v-icon color="red"
                                    >remove_circle_outline</v-icon
                                  >
                                  ลบ Question
                                </v-btn>
                              </v-card-actions>
                            </v-card>
                            <!-- ### end card question ### -->
                          </div>
                          <!-- ### end question ### -->
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="green"
                            outlined
                            @click="addQuestion(index, indexLab)"
                          >
                            <v-icon color="green">add_circle</v-icon> เพิ่ม
                            Question
                          </v-btn>
                          <v-btn
                            color="red"
                            outlined
                            @click="removeLab(index, indexLab)"
                          >
                            <v-icon color="red">remove_circle_outline</v-icon>
                            ลบ Lab
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                      <!-- ### end card lab ### -->
                    </div>
                    <!-- ### end lab ### -->
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green" outlined @click="addLab(index)">
                      <v-icon color="green">add_circle</v-icon> เพิ่ม Lab
                    </v-btn>
                    <v-btn color="red" outlined @click="removeChapter(index)">
                      <v-icon color="red">remove_circle_outline</v-icon>
                      ลบ Chapter
                    </v-btn>
                  </v-card-actions>
                </v-card>
                <!-- ### end card chapter ### -->
              </div>
              <!-- ### end chapter ### -->
              <br />
              <v-btn @click="addChapter()" outlined> เพิ่ม Chapter </v-btn>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="editCourse">
                แก้ไข
              </v-btn>
              <v-btn color="red darken-1" text @click="dialog = false">
                ยกเลิก
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </template>
  </the-body>
</template>

<script>
import body from "../../components/body/body";
export default {
  components: {
    "the-body": body,
  },
  data() {
    return {
      title: "หลักสูตร",
      icon: "all_inbox",
      color: "info",
      dialog: false,
      items: [],
      search: "",
      categories: [],
      filter_cate: "",
      chapters: [],
      obj: {},
      headers: [
        {
          text: "Course Name",
          align: "start",
          sortable: false,
          value: "course_name",
        },
        { text: "Date", value: "create_date" },
        { text: "Action ", align: "end", value: "actions" },
      ],
      coures: [],
    };
  },
  async created() {
    await this.listCourse();
    await this.listQuestionType();
    await this.listCategoryType();
  },
  methods: {
    async listCourse() {
      await this.$store.dispatch("course/listCourse", this.filter_cate);
      const result = this.$store.getters["course/result"];
      this.coures = result
    },
    async listQuestionType() {
      await this.$store.dispatch("question/listQuestionType");
      const result = this.$store.getters["question/result"];
      this.items = result;
    },
    async listCategoryType() {
      await this.$store.dispatch("category/listCategoryType");
      const result = this.$store.getters["category/result"];
      this.categories = result;
    },
    async deleteCourse(item) {
      const { course_id } = item;
      await this.$store.dispatch("course/delete", course_id);
      const error = this.$store.getters["course/error"];
      if (error) {
        await this.$store.dispatch("snackbar/showSnack", {
          text: "ลบ course ไม่สำเร็จ",
          color: "red",
          timeout: 4500,
        });
      } else {
        await this.$store.dispatch("snackbar/showSnack", {
          text: "ลบ course สำเร็จ",
          color: "green",
          timeout: 4500,
        });
        const index = this.coures.indexOf(item);
        this.coures.splice(index, 1);
      }
    },
    detailCourse(item) {
      this.obj = item;
      this.chapters = item.chapters;
      this.dialog = true;
    },
    addChapter() {
      this.chapters.push({
        chapter_name: "",
        chapter_desc: "",
        type: "ADD",
        labs: [],
      });
    },
    addLab(index) {
      const { labs } = this.chapters[index];
      labs.push({ lab_name: "", type: "ADD", questions: [] });
    },
    addQuestion(index, indexLab) {
      const { labs } = this.chapters[index];
      const { questions } = labs[indexLab];
      questions.push({
        question: "",
        question_type: "",
        type: "ADD",
        question_choices: [],
      });
    },
    addChoice(index, indexLab, indexQuestion) {
      const { labs } = this.chapters[index];
      const { questions } = labs[indexLab];
      const { question_choices } = questions[indexQuestion];
      question_choices.push({ choice: "", type: "ADD" });
    },
    removeChapter(index) {
      this.chapters.splice(index, 1);
    },
    removeLab(indexChapter, indexLab) {
      const { labs } = this.chapters[indexChapter];
      labs.splice(indexLab, 1);
    },
    removeQuestion(indexChapter, indexLab, indexQuestion) {
      const { labs } = this.chapters[indexChapter];
      const { questions } = labs[indexLab];
      questions.splice(indexQuestion, 1);
    },
    removeChoice(indexChapter, indexLab, indexQuestion, indexChoice) {
      const { labs } = this.chapters[indexChapter];
      const { questions } = labs[indexLab];
      const { question_choices } = questions[indexQuestion];
      question_choices.splice(indexChoice, 1);
    },
    async editCourse() {
      this.obj.chapter = this.chapters;
      const check = this.obj.categories
        .map((e) => e.type_cate_id)
        .filter((e) => e);

      this.obj.categories =
        check.length <= 0 ? this.obj.categories.filter((e) => e) : check;

      await this.$store.dispatch("course/update", this.obj);
      const error = this.$store.getters["course/error"];

      if (!error) {
        await this.$store.dispatch("snackbar/showSnack", {
          text: "แก้ไข course สำเร็จ",
          color: "green",
          timeout: 4500,
        });
      } else {
        await this.$store.dispatch("snackbar/showSnack", {
          text: "แก้ไข course ไม่สำเร็จ",
          color: "red",
          timeout: 4500,
        });
      }
      this.dialog = false;
    },
  },
};
</script>

<style>
</style>