/* eslint-disable vue/no-unused-vars */
<template>
  <the-body :title="title" :color="color" :icon="icon">
    <template v-slot:body>
      <h3>Course</h3>
      <br />
      <v-form ref="form" v-model="valid" lazy-validation @submit="saveCourse">
        <v-row>
          <v-col cols="12" md="6">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="ชื่อหลักสูตร"
                  v-model="obj.course_name"
                  :rules="validateCourseName"
                  required
                  outlined
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="obj.categories"
                  :items="categories"
                  item-text="type_cate_name"
                  item-value="type_cate_id"
                  label="เลือก ประเภท"
                  multiple
                  chips
                  :rules="[(v) => !!v || 'Item is required']"
                  outlined
                  required
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  outlined
                  :rules="validateCourseDesc"
                  v-model="obj.course_desc"
                  label="รายละเอียดหลักสูตร"
                >
                </v-textarea>
              </v-col>
            </v-row>
          </v-col>

          <v-col cols="12" md="6">
            <v-data-table
              :headers="headers"
              :items="chapters"
              :items-per-page="5"
            >
              <template v-slot:[`item.icons`]>
                <v-btn icon>
                  <v-icon color="info lighten-1"> mdi-folder </v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-col>
        </v-row>
        <!-- ### end row course ### -->

        <v-divider />
        <br />
        <h3>
          <v-btn
            color="primary"
            outlined
            type="submit"
            :loading="loading"
            :disabled="loading"
          >
            บัททึก </v-btn
          >&nbsp;&nbsp;
          <v-btn color="green" outlined @click="dialog = true">
            <v-icon color="green">add_circle</v-icon> เพิ่ม Chapter
          </v-btn>
        </h3>
        <br />
      </v-form>
      <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="800px">
          <v-card>
            <v-card-title>
              <span class="text-h5">Chapter</span>
            </v-card-title>
            <v-card-text>
              <div v-for="(chapter, index) in chapters" :key="index">
                <br />
                <v-card outlined :key="index">
                  <v-card-text>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field
                          label="ชื่อบทเรียน"
                          required
                          dense
                          outlined
                          v-model="chapter.chapter_name"
                        >
                        </v-text-field>
                      </v-col>

                      <v-col cols="12">
                        <v-textarea
                          outlined
                          dense
                          label="รายละเอียดบทเรียน"
                          v-model="chapter.chapter_desc"
                        >
                        </v-textarea>
                      </v-col>
                    </v-row>

                    <div
                      class="pt-2"
                      v-for="(lab, indexLab) in chapter.labs"
                      :key="indexLab"
                    >
                      <v-card outlined :key="indexLab">
                        <v-card-text>
                          <v-row>
                            <v-col cols="12">
                              <v-text-field
                                label="ชื่อ Lab"
                                required
                                dense
                                outlined
                                v-model="lab.lab_name"
                              >
                              </v-text-field>
                            </v-col>
                          </v-row>

                          <div
                            class="pt-2"
                            v-for="(question, indexQuestion) in lab.questions"
                            :key="indexQuestion"
                          >
                            <v-card outlined :key="indexQuestion">
                              <v-card-text>
                                <v-row>
                                  <v-col cols="12" md="6" sm="6">
                                    <v-select
                                      :items="items"
                                      item-text="type_question_name"
                                      item-value="type_question_id"
                                      label="ประเภท คำถาม"
                                      dense
                                      outlined
                                      v-model="question.question_type"
                                    ></v-select>
                                  </v-col>
                                  <v-col cols="12" md="6" sm="6">
                                    <v-text-field
                                      label="คำถาม"
                                      required
                                      dense
                                      outlined
                                      v-model="question.question"
                                    >
                                    </v-text-field>
                                  </v-col>
                                </v-row>

                                <div
                                  class="pt-2"
                                  v-for="(
                                    question_choice, indexChoice
                                  ) in question.question_choices"
                                  :key="indexChoice"
                                >
                                  <v-row>
                                    <v-col cols="12" md="8" sm="8">
                                      <v-text-field
                                        label="สร้าง choice"
                                        required
                                        dense
                                        v-model="question_choice.choice"
                                      >
                                      </v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="2" sm="2">
                                      <v-btn
                                        color="red"
                                        outlined
                                        @click="
                                          removeChoice(
                                            index,
                                            indexLab,
                                            indexQuestion,
                                            indexChoice
                                          )
                                        "
                                      >
                                        <v-icon color="red">
                                          remove_circle_outline
                                        </v-icon>
                                        ลบ Choice
                                      </v-btn>
                                    </v-col>
                                  </v-row>
                                </div>
                              </v-card-text>
                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                  color="green"
                                  outlined
                                  v-if="question.question_type === 'QTM-0001'"
                                  @click="
                                    addChoice(index, indexLab, indexQuestion)
                                  "
                                >
                                  <v-icon color="green">add_circle</v-icon>
                                  เพิ่ม Choice
                                </v-btn>
                                <v-btn
                                  color="red"
                                  outlined
                                  @click="
                                    removeQuestion(
                                      index,
                                      indexLab,
                                      indexQuestion
                                    )
                                  "
                                >
                                  <v-icon color="red"
                                    >remove_circle_outline</v-icon
                                  >
                                  ลบ Question
                                </v-btn>
                              </v-card-actions>
                            </v-card>
                            <!-- ### end card question ### -->
                          </div>
                          <!-- ### end question ### -->
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="green"
                            outlined
                            @click="addQuestion(index, indexLab)"
                          >
                            <v-icon color="green">add_circle</v-icon> เพิ่ม
                            Question
                          </v-btn>
                          <v-btn
                            color="red"
                            outlined
                            @click="removeLab(index, indexLab)"
                          >
                            <v-icon color="red">remove_circle_outline</v-icon>
                            ลบ Lab
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                      <!-- ### end card lab ### -->
                    </div>
                    <!-- ### end lab ### -->
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green" outlined @click="addLab(index)">
                      <v-icon color="green">add_circle</v-icon> เพิ่ม Lab
                    </v-btn>
                    <v-btn color="red" outlined @click="removeChapter(index)">
                      <v-icon color="red">remove_circle_outline</v-icon>
                      ลบ Chapter
                    </v-btn>
                  </v-card-actions>
                </v-card>
                <!-- ### end card chapter ### -->
              </div>
              <!-- ### end chapter ### -->
              <br />
              <v-btn @click="addChapter()" outlined> เพิ่ม Chapter </v-btn>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="saveChapter">
                บันทึก
              </v-btn>
              <v-btn color="red darken-1" text @click="dialog = false">
                ยกเลิก
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </template>
  </the-body>
</template>

<script>
import body from "../../components/body/body";
export default {
  components: {
    "the-body": body,
  },
  data() {
    return {
      title: "สร้างหลักสูตร",
      icon: "create_new_folder",
      color: "info",
      valid: true,
      loading: false,
      dialog: false,
      items: [],
      categories: [],
      chapters: [],
      obj: {},
      headers: [
        {
          text: "Chapter",
          align: "start",
          sortable: false,
          value: "chapter_name",
        },
        {
          text: "",
          align: "end",
          sortable: false,
          value: "icons",
        },
      ],
      validateCourseName: [(v) => !!v || "Course name is required."],
      validateCategory: [(v) => !!v || "Category is required."],
      validateCourseDesc: [(v) => !!v || "Course desc is required."],
    };
  },
  async created() {
    await this.listQuestionType();
    await this.listCategoryType();
  },
  methods: {
    async listQuestionType() {
      await this.$store.dispatch("question/listQuestionType");
      const result = this.$store.getters["question/result"];
      this.items = result;
    },
    async listCategoryType() {
      await this.$store.dispatch("category/listCategoryType");
      const result = this.$store.getters["category/result"];
      this.categories = result;
    },
    addChapter() {
      this.chapters.push({
        chapter_name: "",
        chapter_desc: "",
        type: "ADD",
        labs: [],
      });
    },
    addLab(index) {
      const { labs } = this.chapters[index];
      labs.push({ lab_name: "", type: "ADD", questions: [] });
    },
    addQuestion(index, indexLab) {
      const { labs } = this.chapters[index];
      const { questions } = labs[indexLab];
      questions.push({
        question: "",
        question_type: "",
        type: "ADD",
        question_choices: [],
      });
    },
    addChoice(index, indexLab, indexQuestion) {
      const { labs } = this.chapters[index];
      const { questions } = labs[indexLab];
      const { question_choices } = questions[indexQuestion];
      question_choices.push({ choice: "", type: "ADD" });
    },
    removeChapter(index) {
      this.chapters.splice(index, 1);
    },
    removeLab(indexChapter, indexLab) {
      const { labs } = this.chapters[indexChapter];
      labs.splice(indexLab, 1);
    },
    removeQuestion(indexChapter, indexLab, indexQuestion) {
      const { labs } = this.chapters[indexChapter];
      const { questions } = labs[indexLab];
      questions.splice(indexQuestion, 1);
    },
    removeChoice(indexChapter, indexLab, indexQuestion, indexChoice) {
      const { labs } = this.chapters[indexChapter];
      const { questions } = labs[indexLab];
      const { question_choices } = questions[indexQuestion];
      question_choices.splice(indexChoice, 1);
    },
    saveChapter() {
      this.obj.chapter = this.chapters;
      this.dialog = false;
    },
    async saveCourse(e) {
      e.preventDefault();

      const formValid = this.$refs.form.validate();

      if (formValid) {
        this.loading = true;
        await this.$store.dispatch("course/create", this.obj);
        const error = this.$store.getters["course/error"];

        if (!error) {
          this.loading = false;
          await this.$store.dispatch("snackbar/showSnack", {
            text: "สร้าง course สำเร็จ",
            color: "green",
            timeout: 4500,
          });
        } else {
          this.loading = false;
          await this.$store.dispatch("snackbar/showSnack", {
            text: "สร้าง course ไม่สำเร็จ",
            color: "red",
            timeout: 4500,
          });
        }
      }
    },
  },
};
</script>

<style>
</style>