<template>
  <div>
    <v-text-field
      label="Email"
      outlined
      v-model="obj.email"
      @input="$emit('update:email', obj.email)"
      :rules="validateEmail"
      prepend-inner-icon="mdi-account"
      type="text"
    ></v-text-field>

    <v-text-field
      label="Password"
      outlined
      v-model="obj.password"
      @input="$emit('update:password', obj.password)"
      :rules="validatePassword"
      name="password"
      prepend-inner-icon="mdi-lock"
      type="password"
    ></v-text-field>
  </div>
</template>

<script>
export default {
  data() {
    return {
      obj: {},
      validateEmail: [
        (v) => !!v || "E-mail is required.",
        (v) => /.+@.+/.test(v) || "E-mail must be valid",
      ],
      validatePassword: [
        (v) => !!v || "Password is required.",
        (v) =>
          (!!v && v.length >= 6) || "Password only need 6 characters.",
        (v) =>
          (!!v && v.length <= 18) || "Password must not be more than 18 characters only.",
      ],
    };
  },
};
</script>
