<template>
  <the-body-login :title="title" :icon="icon" :color="color" :dark="dark">
    <template v-slot:body>
      <v-form ref="form" v-model="valid" lazy-validation @submit="handleLogin">
        <the-input-form :email.sync="obj.email" :password.sync="obj.password" />
        <div class="my-1">
          <v-btn
            type="submit"
            color="info"
            depressed
            block
            medium
            :loading="loading"
            :disabled="loading"
          >
            {{ btn_name }}
          </v-btn>
        </div>
      </v-form>
    </template>
  </the-body-login>
</template>

<script>
import body_login from "../../components/body/body_login";
import input_form from "./input_form";
export default {
  components: {
    "the-body-login": body_login,
    "the-input-form": input_form,
  },
  data() {
    return {
      title: "Course",
      icon: "school",
      color: "info",
      btn_name: "Login",
      obj: {},
      dark: true,
      valid: true,
      loading: false,
    };
  },
  methods: {
    async handleLogin(e) {
      e.preventDefault();

      const formValid = this.$refs.form.validate();
      if (formValid) {
        this.loading = true;

        await this.$store.dispatch("auth/login", {
          email: this.obj.email,
          password: this.obj.password,
        });

        const error = this.$store.getters["auth/error"];

        if (!error) {
          this.loading = false;
          window.location.href = "/";
        } else {
          this.loading = false;
          await this.$store.dispatch("snackbar/showSnack", {
            text: "email or password is wrong",
            color: "red",
            timeout: 4500,
          });
        }
      }
    },
  },
};
</script>

<style>
</style>