<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" md="4">
        <v-hover v-slot="{ hover }" open-delay="200">
          <v-card class="mx-auto" :elevation="hover ? 16 : 1">
            <div align="center">
              <v-avatar :color="color" class="my-2">
                <v-icon class="mx-1" :dark="dark">{{ icon }}</v-icon>
              </v-avatar>
              <br />
              <span class="font-weight-medium">{{ title }}</span>
            </div>
            <v-card-text> <slot name="body"></slot></v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
          <!--### end card ### -->
        </v-hover>
        <!-- ### end hover ### -->
      </v-col>
      <!-- ### end col ### -->
    </v-row>
    <!-- ### end row ### -->
  </v-container>
</template>

<script>
export default {
  props: ["icon", "title", "color", "dark"],
};
</script>

<style>
</style>