<template>
  <div style="margin-top: 20px">
    <v-container class="fill-height">
      <v-row align="center" justify="center">
        <v-col cols="12" md="12" xl="12" sm="12">
          <v-card outlined>
            <v-toolbar flat>
              <v-toolbar-title>
                <v-icon :color="color" class="mx-2">{{ icon }}</v-icon>
                {{ title }}
              </v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
            </v-toolbar>
            <br />
            <v-card-text>
              <slot name="body"></slot>
            </v-card-text>
          </v-card>
          <!-- ### end card ### -->
        </v-col>
        <!-- ### end col ### -->
      </v-row>
      <!-- ### row ### -->
    </v-container>
    <!-- ### container ### -->
  </div>
</template>

<script>
export default {
  props: ["icon", "title", "color"],
};
</script>

<style>
</style>