<template>
  <div>
    <v-menu bottom left offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn text v-bind="attrs" v-on="on"> {{ fullName }}</v-btn>
      </template>

      <v-list link>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          @click="dialog = item.dialog"
        >
          <v-list-item-title>{{ item.title }}</v-list-item-title>

          <v-list-item-action>
            <v-btn text>
              <v-icon>{{ item.icon }}</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-menu>

    <v-dialog v-model="dialog" width="360" persistent>
      <v-card>
        <div align="center">
          <v-card-title class="headline">
            {{ textCardBody }}
          </v-card-title>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success" text @click="logout"> ใช่ </v-btn>
          <v-btn color="error" text @click="dialog = false"> ไม่ใช่ </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { getStored } from "../../store/index";
export default {
  data() {
    return {
      dialog: false,
      fullName: getStored("full_name"),
      textCardBody: "คุณต้องการออกจากระบบหรือไม่?",
      items: [{ title: "Logout", icon: "mdi-logout", dialog: true }],
    };
  },
  methods: {
    async logout() {
      await this.$store.dispatch("auth/logout");
      location.reload();
    },
  },
};
</script>
