<template>
  <v-app>
    <the-snackbar />
    <the-navbar v-if="role" />
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import navbar from "./views/layouts/navbar";
import snackbar from "./components/snackbar/snackbar";
import { getStored } from "./store/index";
export default {
  name: "App",
  components: {
    "the-navbar": navbar,
    "the-snackbar": snackbar,
  },
  data() {
    return { role: null };
  },
  created() {
    this.role = getStored("role");
  },
};
</script>
