<template>
  <div>
    <v-navigation-drawer v-model="drawer" app clipped width="305">
      <the-drawer-menu />
    </v-navigation-drawer>
    <!-- ### end navigation drawer ### -->
    <v-app-bar color="primary" app flat clipped-left dark>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
    
      <v-icon class="mx-1">school</v-icon>
      <v-toolbar-title class="align-center">
        <span class="title default">{{ title }}</span>
      </v-toolbar-title>

      <v-spacer />

      <the-header-menu />
    </v-app-bar>
  </div>
</template>

<script>
import drawer_menu from "../../components/drawer-menu/drawer_menu";
import header_menu from "../../components/header-menu/header_menu";
export default {
  components: {
    "the-drawer-menu": drawer_menu,
    "the-header-menu": header_menu,
  },
  data() {
    return {
      drawer: null,
      title: "Course",
    };
  },
};
</script>

<style>
</style>